{% load static %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href={% static '/css/style.css' %}>

	<title>Register Form </title>
</head>
<body>
{% block content %}
    <div class="container">
		<form action="" method="POST"class="login-email">
			{% csrf_token %}
            <p class="login-text" style="font-size: 2rem; font-weight: 800;">Register</p>
			
			<div class="input-group">
				<input type="text" placeholder="First name" name="Firstname" value="" required>
			</div>
			<div class="input-group">
				<input type="text" placeholder="Last name" name="Lastname" value="" required>
			</div>
			<div class="input-group">
				<input type="text" placeholder="Phone number" name="contact" required>

			</div>
			<div class="input-group">
				<input type="text" placeholder="Username" name="username" value="" required>
			</div>
			<div class="input-group">
				<input type="password" placeholder="Password" name="password" value="" required>
            </div>	
      <!--      <div class="input-group">
				<input type="password" placeholder="Confirm Password" name="cpassword" value="" required>

			</div>
				  -->	
			<div class="input-group">
				<button name="submit" class="btn" >Register <a href="{% url 'login_view' %}"></a></button>
			</div>
			<p class="login-register-text">Have an account? <a href="{% url 'login_view' %}">Login Here</a>.</p>
		
		</form>
		
		{% if messages %} {% for msg in messages %}

<div class="alert alert-warning alert-dismissible fade show" role="error">
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button> {{msg}}
</div>
{% endfor %} {% endif %}

		
	</div>
	 
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js"></script>

	
<script>
	{% if messages %} 
	{% for message in messages %} 
	Swal.fire({
		
	text: '{{message}}',
	icon: 'success',
	
	})
	
	{% endfor %}
	{% endif %}
</body>

{% endblock content %}
