{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href={% static 'css/style.css' %}>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js"></script>

   
	<title>HYRDOGEN CLOTHING</title>

</head>

<body>
	<div class="container">
		<form action="" method="post" class="login-email">
			{% csrf_token %}
			<p class="login-text" style="font-size: 2rem; font-weight: 800;">HYRDOGEN CLOTHING</p>
			<div class="input-group">
				<input type="text" placeholder="Username" name="username" value="" required >
			</div>
			<div class="input-group">
				<input type="password" placeholder="Password" name="password" value=""required	 >
			</div>
			<div class="input-group">

				<button type="submit" name="submit" class="btn">Login </button>

			</div>
			<p class="login-register-text">Don't have an account? <a href="/register" >Register Here</a>.</p>
		</form>
	</div>
	 
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.7/dist/sweetalert2.all.min.js"></script>

	
<script>
	{% if messages %} 
	{% for message in messages %} 
	Swal.fire({
		
	text: '{{message}}',
	icon: 'error',
	
	})
	
	{% endfor %}
	{% endif %}
  </script>
</body>

</html>